* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%2301d990' fill-opacity='0.13'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
    /*background: url('images/background4.jpg') ;*/
    font-family: 'Tangerine', cursive;
}

.btn-menu {
    display: none;
}

.btn-menu img {
    width: 6%;
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.nav-main {
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    margin: 10px 0;
}


.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    font-family: 'Advent Pro', sans-serif;
    font-size: 25px;
}

.nav-main ul li a:hover {
    border-bottom: 4px solid #000000;
}

.nav-main ul.nav-menu {
    flex: 1;
    justify-content: center;
    margin-left: auto;
}

.showcase {
    width: 90%;
    height: 550px;
    background: url("../images/showcase9.jpg") no-repeat center center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
    margin-bottom: 20px;
}

.showcase h1,
.showcase p {
    margin-bottom: -20px;
    font-weight: bold;
}

.showcase h1 {
    margin-bottom: 20%;
    font-size: 90px;
    color: #ffffff;
}

.showcase p {
    font-size: 50px;
    color: #ffffff;
}

.container-countdown {
    width: 30%;
    display: flex;
    margin-bottom: -3%;
}

.item-countdown {
    background: rgba(20, 28, 20, 0.596);
    margin: 5px;
    align-items: center;
    width: 25%;
    border-radius: 50%;
}

.countdown {
    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 20px 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.label {
    color: #ffffff;
    font-size: 15px;
    display: flex;
    justify-content: center;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.separator {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
}

.separator-image {
    width: 100%;
    height: auto;
}

/*INVITACIÓN*/
.invitation {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.invitation h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 5%;
}

.invitation p {
    font-size: 35px;
    font-family: 'Tangerine', cursive;
    margin-bottom: 4%;
}

/*DATOS*/
.cont {
    display: flex;
    flex-direction: column;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 820px;
    background: url('../images/backgroundEtiqueta3.png') no-repeat center center/cover;
    margin: auto;
}

.datos hr {
    width: 40%;
    margin: 20px auto;
}

.datos h2 {
    margin: 0 auto;
    font-size: 45px;
}

.datos h3 {
    margin: 0 auto;
    font-size: 42px;
}

.datos p {
    font-size: 34px;
    margin: 0 auto;
    padding: 0;
}

.cont .sobres,
.cont img {
    margin: auto;
    font-size: 40px;
}

.cont img {
    width: 15%;
    margin-top: 5%;
}

/*GALERIA DE IMAGENES*/

.cont-title {
    display: flex;
    width: 100%;
}

.gallery-title {
    margin: 2% auto;
    font-size: 45px;
}

#galery {
    display: grid;
    /*grid-template-columns: repeat(4, 1fr);*/
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 2px;
    max-width: 700px;
    min-width: 400px;
    padding: 0 10px;
    margin: auto;
    margin-bottom: 20px;
}

#galery img {
    width: 100%;
    height: 100%;
    cursor: pointer;

}

#active-image {
    width: 100%;
    height: auto;
}

#main-container-galery {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
}

#internal-container {
    width: 500px;
    height: auto;
    border: 2px #f3f3f3 solid;
    padding: 2px;
    display: flex;
    justify-content: center;
    position: relative;
}

button {
    cursor: pointer;
    background: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-family: 'Advent Pro', sans-serif;
}

#btn-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    padding: 3px;
}

#btn-back {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 2rem;
    padding: 3px;
}

#btn-next {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 2rem;
    padding: 3px;
}

/*CÓDIGO DE VESTUARIO*/
.dress-code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dress-code img {
    width: 30%;
}

.dress-code h1 {
    font-size: 45px;
}

.dress-code p {
    font-size: 40px;
}

/*CONFIRMACIÓN ASISTENCIA*/

.assistance-confirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.assistance-confirmation .guest-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: auto;
}

#name {
    width: 70%;
    height: 40px;
    font-size: 30px;
}

#submit {
    width: 30%;
    height: 40px;
    background-color: #263b2d72;
    font-size: 30px;
}

.assistance-confirmation .guest-result {
    margin: auto;
    width: 80%;
}

.assistance-confirmation .guest-result table {
    margin: 20px auto;
    border:#000000 1px solid;
    width: 80%;
}

.assistance-confirmation .guest-result table td {
    text-align: center;
    font-size: 35px;
    background-color: #9f949446;
}

.assistance-confirmation .guest-result table td input{
    margin: auto;
    width: 40%;
    font-size: 30px;
    background-color: #263b2d72;
}

.assistance-confirmation .guest-result table th, td {
    border:#000000 1px solid;
}

.assistance-confirmation .guest-result table th {
    background-color: #263b2d72;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

.assistance-confirmation input {
    width: 30%;
    font-size: 30px;
    background-color: #ffffff72;
}

.assistance-confirmation h1 {
    text-align: center;
    font-size: 45px;
}

/*UBICACIÓN*/
.location {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 5px;
    margin: auto;
    justify-content: center;
    justify-self: center;
    margin-bottom: 5%;
}

.map-location {
    display: flex;
    flex-direction: column;
    margin: 1%;
    width: 45%;
    justify-content: center;
}

.map {
    border: #000000 1px solid;
    width: 100%;
    height: 100%;
}

/*Footer*/

footer {
    margin-top: 5%;
}
footer,
footer ul li,
footer ul li a {
    background-color: #2f3640;
    color: #f6f6f6;
    font-size: 12px;
    padding: 5px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2%;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul {
    margin: 0 auto;
}

.footer-container ul li,
.footer-container ul li a,
.footer-container ul h3 {
    font-size: 12px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.footer-container ul h1 {
    margin-bottom: 30px;
    font-size: 16px;
    font-family: 'Be Vietnam Pro', sans-serif;
}


.slider-container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: auto;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    padding: 30px;
    box-sizing: border-box;
}

.slider-container>ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.slider-container>ul.slider {
    position: relative;
    max-width: 1200px;
    width: 100%;
    height: 500px;
}

.slider-container>ul.slider li {
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background: #fff;
}

.slider-container>ul.slider li img {
    width: 70%;
    height: 500px;
    margin: auto;
    object-fit: contain;
}

.slider-container>ul.slider li:first-child {
    opacity: 1;
    /*Mostramos el primer <li>*/
}

.slider-container>ul.slider li:target {
    opacity: 1;
    /*Mostramos el <li> del enlace que pulsemos*/
}

.slider-container>.menu {
    text-align: center;
    margin: 20px;
}

.slider-container>.menu li {
    display: inline-block;
    text-align: center;
}

.slider-container>.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    width: 20px;
    height: 20px;
    font-size: 15px;
    border-radius: 100%;
    font-family: 'Advent Pro', sans-serif;
}

/*RECOMENDACIONES*/

.recommendation {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.recommendation h1 {
    font-size: 35px;
    margin: auto;
    font-family: 'Advent Pro', sans-serif;
    margin-bottom: 2%;
}

.recommendation ul li {
    list-style-type: disc;
    font-size: 25px;
    font-family: 'Advent Pro', sans-serif;
}

@media (max-width: 1270px) {
    .btn-menu {
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        cursor: pointer;
    }

    /*MENÚ*/
    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        height: 50%;
        opacity: 0.9;
        transform: translate(-400px);
        transition: transform 0.5s ease-in-out;
    }

    .nav-main ul.nav-menu.show {
        transform: translate(0px);
    }

    .nav-main ul li {
        line-height: 1;
        padding: 0 20px 0 0;
    }

    .nav-main ul.nav-menu li a {
        color: #f3f3f3;
        font-size: 16px;
    }

}

@media (max-width: 700px) {

    
    /*SHOWCASE*/

    .showcase {
        height: 400px;
    }

    .showcase h1 {
        margin-bottom: 60%;
        font-size: 40px;
    }

    .showcase p {
        font-size: 30px;
    }

    .container-countdown {
        width: 70%;
        display: flex;
        margin-bottom: -17%;
        margin-top: 5%;
        background: rgba(20, 28, 20, 0.596);
        border-radius: 40%;
    }

    .item-countdown {
        background: none;
    }

    .countdown {
        font-size: 16px;
    }

    /*INVITACIÓN*/
    .invitation h1 {
        font-size: 25px;
    }

    .invitation p {
        font-size: 20px;
    }

    /*DATOS*/
    .datos {
        width: 110%;
        height: 300px;
    }

    .datos h2 {
        font-size: 20px;
        margin-top: -25px;
    }

    .datos h3 {
        font-size: 18px;
    }

    .datos p {
        font-size: 16px;
        line-height: 1;
    }

    .datos hr {
        width: 50%;
        margin: 3px auto;
    }

    .cont .sobres {
        font-size: 20px;
    }

    /*GALERIA DE IMAGENES*/
    .gallery-title {
        font-size: 25px;
    }

    .slider-container>ul.slider {
        position: relative;
        max-width: 1200px;
        width: 100%;
        height: 150px;
    }

    .slider-container>ul.slider li img {
        width: 100%;
        height: 100%;
    }

    .slider-container>.menu {
        z-index: 2;
    }

    /*CÓDIGO DE VESTUARIO*/
    .dress-code h1 {
        font-size: 25px;
    }
    
    .dress-code p {
        font-size: 20px;
    }

    /*CONFIRMACIÓN ASISTENCIA*/
    .assistance-confirmation h1 {
        font-size: 25px;
    }

    .assistance-confirmation .guest-search {
        display: flex;
        flex-direction: column;
    }

    #name {
        width: 50%;
        height: 25px;
        font-size: 20px;
    }

    #submit {
        width: 20%;
        height: 25px;
        font-size: 20px;
    }

    .assistance-confirmation .guest-result table th {
        font-size: 25px;
    }

    .assistance-confirmation .guest-result table td {
        font-size: 20px;
    }

    .assistance-confirmation .guest-result table td input{
        width: 50%;
        height: 30px;
        font-size: 20px;
    }

    .assistance-confirmation input {
        width: 30%;
        font-size: 20px;
        background-color: #ffffff72;
    }

    /*UBICACIÓN*/
    .location {
        display: flex;
        flex-direction: column;
    }

    .map-location {
        width: 100%;
    }

    .title-location {
        font-size: 25px;
    }

    .map-location h1 {
        font-size: 23px;
    }

    .map {
        border: #000000 1px solid;
        width: 100%;
        height: auto;
    }

    .location .map-location:first-child {
        margin-bottom: 20px;
    }

    /*RECOMENDACIONES*/
    .recommendation h1 {
        font-size: 20px;
    }

    .recommendation ul li {
        font-size: 16px;
    }

    /*FOOTER*/
    .footer-container ul h1 {
        font-size: 12px;
    }

    .footer-container ul li,
    .footer-container ul li a,
    .footer-container ul h3 {
        font-size: 8px;
    }
}